{% extends 'register/base.html'%}

{% block title %}
<title>Forgot Password</title>
{% endblock  %}

{% block content  %}
<form method="POST">
{% csrf_token %}
    <input type="email" name="email" id="email">
    <button type="submit">submit</button>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
{% endif %}

</form>
{% endblock  %}

