{% extends 'register/base.html' %} 
{% load static %}
{% block title %}
    <title>Registration Page!</title>
 <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="{% static 'registration.js' %}"></script>
    <link rel="stylesheet" href=" {% static 'register.css' %} ">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="register-container">
            <form id="form1" method="POST">
                {% csrf_token %}
                <h1>Register</h1>
                <!-- <hr /> -->
                <label for="username">username: </label>
                <input type="text" id="username" name="username" placeholder="Enter your first name" required>
                
                <label for="email">Email: </label>
                <input type="email" id="email" name="email" placeholder="Enter your email id" required>
                <div id="email-error" class="error"></div>

                <label for="password" id="pass1">Password:</label>
                <input type="password" id="password" name="password" placeholder="********" required>
                <label for="password2" id="pass2">Confirm Password:</label>
                <input type="password" id="password2" name="password2" placeholder="********" required>
                <div id="pass-error" class="error"></div>
                <button type="submit" onclick="validate()">Register</button>
                <!-- <hr> -->
                <p>Already registered? <a href="login.html" class="anchor">click here to login</a></p>
                </̥̥̥̥form>

        </div>
        <div id="image"></div>
    <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
    </div>

   
{% endblock %}