button:hover{
    background-color: gray;
    cursor: pointer;
    height: 40%;
    transform: scale(1.2);
}

.container {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px;
    padding: 0px;
    border-radius: 5px;
    height: 100%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 1.5em;
    z-index: -1;
    opacity: 80%;
}


.container #image{
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('https://st.depositphotos.com/1092019/3536/i/950/depositphotos_35365873-stock-photo-white-keyboard-with-register-button.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 70%;
}

.container #image:hover{
    opacity: 100%;
}

@media(max-width: 1200px){
    .container #image{
        height:140%;
    }
    
}

.register-container{
    z-index: 1;
}

.container #image:hover{
    opacity: 100%;
}
.register-container #form1:hover{
    opacity: 100%;
    box-shadow: 1px 1px 20px 0xp dodgerblue; 
}
.register-container #form1{ 
    opacity: 70%;
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
    z-index: 1;
    padding: 1em;
}
.register-container #form1 label{
    display: flex;
    font-size: 0.8em;
    }

.register-container #form1 input{
    background-color: rgba(0,0,0,0.0);
    margin: 1%;
    margin-left: 10%;
    width: 80%;
    height: 1.5em;
    border: 0px;
    border-bottom: 1px solid black;
    color: blueviolet;
}
.register-container #form1 button{
    opacity: 80%;
    width: 40%;
    margin-top: 1em;
    align-self: center;
    border-radius: 5px;
    border: 1px solid black;
}


.register-container #form1 input:focus{
    outline: none;
    transform-origin: left;
    transform: scaleX(1.2);
    box-shadow: 0px 0px 8px 0px blue;
}

.register-container #form1 input::placeholder{
    color: blueviolet;

}


.register-container #form1 p {
    color: black;
    font-size: large;

}
.register-container #form1 p a{
    color: black;
    font-size: large;
}



.register-container #form1 p a:hover{
    color: red;
}
/* @media(max-width:400px){
    h1{
        font-size: xx-large;
    }
    label{
        font-size: 0.5em;
    }
    p,a{
        font-size: 0.5em;
    }
} */
h1{

}
@media(max-width:500px){
    h1{
        margin-left: 10%;
    }
}

h1{
    font-size: 1.5em;
}

hr{
    border: 1px solid black;
    width: 100%;
}
  .register-container #form1 #pass:hover::after {
    content: "Password should contain atleast one Capital, number,one special symbol." ;
    position: absolute ;
    top: 1.1em ;
    left: 1em ;
    min-width: 200px ;
    border: 1px #808080 solid ;
    padding: 8px ;
    color: black ;
    background-color: #cfc ;
    z-index: 1 ;
  }
  
 .container .register-container #form1 .error{
    font-size: 1em;
    word-wrap: break-word;
    color: red;
}

#pass-error{
    font-size: 1em;
    word-wrap: break-word;
    color: red;
}