{% extends 'register/base.html' %}

{% load static %}

{% block title %}
    <link rel="stylesheet" href=" {% static 'home.css' %}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="{% static 'home.js' %}"></script>
    <title>Homepage</title>
{% endblock  %}

{% block content %}
    <div class="container">
        <nav id="nav">
            <ul>
            {% if email %}
                <li>Welcome {{ email }}</li>
                <li><a id="settings">Settings</a></li>
                <li><a id="logout" >Logout</a></li>
            {% else %}
                <li>Welcome</li>
                <li><a id="settings" href="{% url 'register' %}">Register</a></li>
                <li><a id="logout" href=" {% url 'login' %}">Login</a></li>
            {% endif %}
            </ul>
        </nav>
        <div class="main">
            <div class="contacts">
                <div class="users">
                    <!-- <h3 style="text-align: center">Contacts</h3> -->
                    <ul id="users-list">
                    </ul>
                </div>
            </div>
            <div class="chat">
                <h3 id="other-user">Click to chat</h3>
                <div class="other-person">
                        <!-- <ul id="chat-container">
                        </ul> -->
                </div>
                <div class="send">
                    <input type="text" id="input-text">
                    <button id="send-btn"> send</button>
                </div>
            </div>  
        </div>
    </div>
{% endblock  %}
    